{% extends 'layout.html' %} {% block content %}
    {% for row in content %}
{% endfor %}
<div class="logo">
    <img src="{{ url_for('static', filename='images/Accord.png') }}" alt="Accord Logo" style="height:50%; width:50%">
</div>
<div class="top-header">
  <div class="header-content">
    <img src="{{ url_for('static', filename='images/timetableicon.png') }}" alt="Header Icon" class="header-img">
    <div class="header-text">Filler text</div>
  </div>
</div>
<div class="message-section">
  <h2 class="message-header">Messages</h2>
  <div class="message-list">
    <div class="message-box">
  <img src="{{ url_for('static', filename='images/user.png') }}" alt="Profile" class="message-img">
  <div class="message-text">Filler text</div>
</div>
    <div class="message-box">
  <img src="{{ url_for('static', filename='images/user.png') }}" alt="Profile" class="message-img">
  <div class="message-text">Filler text</div>
</div>
    <div class="message-box">
  <img src="{{ url_for('static', filename='images/user.png') }}" alt="Profile" class="message-img">
  <div class="message-text">Filler text</div>
</div>
  </div>
</div>
<div class="right-panel">
  <div class="speech-bubble">filler text</div>
  <div class="speech-bubble">filler text</div>
  <div class="speech-bubble">filler text</div>
</div>
{% endblock %}